header {
  padding: 25px 0;
  background: #fff;
  position: relative;
  z-index: 10;
}
header .container {
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 155px;
  width: 100%;
}

.nav-menu {
  margin: 0 auto;
}

.menu {
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
}
.menu li {
  margin: 0 24px 0 0;
}
.menu li:last-child {
  margin: 0;
}
.menu li a {
  color: #323232;
}
.menu li a:hover, .menu li a:focus {
  color: #fff;
  background: #546b7b;
}
.menu li a.active {
  color: #546b7b;
  background: transparent;
}

.header-contacts {
  position: relative;
  z-index: 1;
  padding: 0 0 0 42px;
}
.header-contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #546b7b;
  border-radius: 50%;
  background: url("../img/phone-icon2.png") no-repeat center;
  background-size: 21px;
}
.header-contacts a {
  color: #323232;
}
.header-contacts a:hover {
  color: #546b7b;
}

.fixed-messangers {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.fixed-messanger-btn {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-messanger-btn:hover {
  opacity: 0.8;
}

.phone-btn {
  background: #6f91a9;
  border-radius: 3px 0 0 0;
}

.whatsapp-btn {
  background: #25d366;
}

.tg-btn {
  background: #1c8adb;
  border-radius: 0 0 0 3px;
}

.fixed-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  max-width: 100px;
  width: 100%;
  height: 100%;
  background: #6f91a9;
  overflow-x: auto;
}
.fixed-menu__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  z-index: 1;
  display: none;
}
.fixed-menu__close::before, .fixed-menu__close:after {
  content: "";
  width: 2px;
  height: 14px;
  left: 8px;
  top: 3px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  display: block;
}
.fixed-menu__close::before {
  transform: rotate(45deg);
}
.fixed-menu__close:after {
  transform: rotate(135deg);
}
.fixed-menu .logo {
  filter: brightness(0) invert(1);
  max-width: 155px;
  display: none;
  margin: 0 0 45px;
}
.fixed-menu.active {
  padding: 25px 96px;
  max-width: 495px;
  background: #546b7b;
}
.fixed-menu.active .logo {
  display: flex;
}
.fixed-menu.active .btn-burger, .fixed-menu.active .messengars-column {
  display: none;
}
.fixed-menu.active .fixed-menu-list {
  text-transform: uppercase;
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}
.fixed-menu.active .fixed-menu-list li a {
  border: none;
  align-items: flex-start;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  flex-direction: row;
}
.fixed-menu.active .fixed-menu-list li a::before {
  content: "";
  min-width: 8px;
  width: 8px;
  height: 16px;
  opacity: 0;
  margin: 5px 9px 0 0;
  display: block;
  background: url("../img/arrow-right-menu.png") no-repeat center;
  background-size: 100%;
}
.fixed-menu.active .fixed-menu-list li a.active {
  color: #6f91a9;
}
.fixed-menu.active .fixed-menu-list li a.active::before {
  opacity: 1;
}
.fixed-menu.active .fixed-menu-list__default {
  display: none;
}
.fixed-menu.active .fixed-menu-list__active {
  display: flex;
}

.btn-burger {
  width: 100px;
  height: 100px;
  background: #546b7b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.btn-burger span {
  display: block;
  background: #fff;
  height: 2px;
  width: 24px;
  margin: 0 0 7px;
}
.btn-burger span:last-child {
  margin: 0;
}

.messengars-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0 60px;
}
.messengars-column__link {
  width: 46px;
  height: 46px;
  margin: 0 0 30px;
}
.messengars-column__link:hover {
  transform: translateY(-3px) scale(1.1);
}
.messengars-column__link img {
  width: 100%;
}
.messengars-column__link:last-child {
  margin: 0;
}

.fixed-menu-list {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.fixed-menu-list li {
  width: 100%;
}
.fixed-menu-list li a {
  padding: 22px 15px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.fixed-menu-list li a:hover {
  color: #000;
}
.fixed-menu-list li a:hover img {
  filter: invert(1);
}
.fixed-menu-list li a span {
  display: block;
}
.fixed-menu-list li a img {
  transition: 0.3s ease;
  margin: 0 0 12px;
}
.fixed-menu-list__active {
  display: none;
}