.home {
  background: url("../img/home-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 30px 45px 65px;
}

.home-slider {
  color: #fff;
}
.home-slider h1, .home-slider .h1 {
  margin: 0 0 60px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.home-slider .slick-dots {
  margin: 20px auto 0;
  align-items: center;
  justify-content: center;
}

.home-slider-item {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding: 50px 130px 35px 50px;
}
.home-slider-item__bg {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-slider-item__text {
  max-width: 755px;
  width: 100%;
  margin: 0 10px 0 0;
}
.home-slider-item__text .box-text {
  font-size: 20px;
}
.home-slider-item__text .box-text p {
  margin: 0 0 40px;
}
.home-slider-item__text .box-text p:last-child {
  margin: 0;
}
.home-slider-item__text .box-text strong {
  font-weight: 600;
}

.home-slider-item__services {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 600px;
  min-width: 600px;
  width: 100%;
  margin: 0 0 0 auto;
}

.service-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 296px;
  height: 296px;
  margin: 0 5px 5px 0;
  border: 1px solid #546b7b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 44px;
}
.service-card:nth-child(even) {
  margin-right: 0;
}
.service-card__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease;
}
.service-card:hover .service-card__bg {
  transform: scale(1.2);
}

.btn-view-collections {
  max-width: 540px;
  margin: 75px 0 0;
}

.about-products {
  background: url("../img/decor-bg2.jpg") no-repeat center;
  background-size: cover;
  padding: 140px 0 125px;
}
.about-products .box-text {
  max-width: 330px;
  font-weight: 500;
}

.about-products-categories {
  margin: 0 0 0 auto;
  max-width: 990px;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-products-category {
  position: relative;
  z-index: 1;
  width: calc(50% - 15px);
  min-height: 245px;
  margin: 0 0 80px;
  border: 1px solid #6f91a9;
  color: #fff;
  background: #546b7b;
  font-size: 12px;
  padding: 30px;
}
.about-products-category:hover {
  background: #6f91a9;
  color: #fff;
}
.about-products-category:hover .about-products-category__img {
  transform: translate(0, -50%) scale(1.15);
}
.about-products-category span {
  display: block;
}
.about-products-category__img {
  position: absolute;
  z-index: -1;
  transition: 1s ease;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.about-products-category__title {
  font-weight: bold;
  display: block;
  font-size: 22px;
  width: 100%;
  max-width: 270px;
}
.about-products-category__text {
  margin: 20px 0 0;
}
.about-products-category:nth-child(2), .about-products-category:nth-child(3) {
  background: #fff;
  color: #6f91a9;
}
.about-products-category:nth-child(2):hover, .about-products-category:nth-child(3):hover {
  color: #6f91a9;
  background: #fff;
}
.about-products-category:nth-child(3) .about-products-category__img {
  transform: none;
  bottom: -16px;
  top: auto;
  right: -36px;
}
.about-products-category:nth-child(3):hover .about-products-category__img {
  transform: scale(1.15);
}

.product-card {
  width: 100%;
  max-width: 292px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #546b7b;
}
.product-card__img {
  width: 100%;
  height: 292px;
  padding: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__img img {
  max-height: 100%;
}
.product-card__body {
  height: calc(100% - 292px);
  padding: 10px 10px 15px;
}
.product-card__name {
  font-size: 18px;
  font-weight: 500;
  color: #323232;
  width: 100%;
}
.product-card__name:hover {
  color: #546b7b;
}
.product-card .price {
  margin: 15px auto 10px;
  font-size: 22px;
  font-weight: 500;
}
.product-card__info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.product-card .icon-info {
  margin: 0 24px 0 0;
}
.product-card .icon-info:last-child {
  margin: 0;
}

.product-slider {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  border-right: 1px solid #546b7b;
}
.product-slider .product-card {
  border-right: none;
}

.brands-section .title-wrapper {
  max-width: 930px;
  width: calc(100% - 450px - 20px);
}
.brands-section .title-wrapper h2 {
  text-align: left;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}

.brands-section-wrapper {
  max-width: 930px;
  width: calc(100% - 450px - 20px);
}

.category-column {
  max-width: 450px;
  width: 100%;
  margin: 0 0 0 auto;
}

.category-link {
  width: 100%;
  height: 272px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 5px;
  background: #000;
  mix-blend-mode: multiply;
  overflow: hidden;
}
.category-link:last-child {
  margin: 0;
}
.category-link:hover img {
  transform: scale(1.2);
}
.category-link span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: block;
  z-index: 2;
}
.category-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease;
}

.brands-slider {
  margin: 0 -5px;
}
.brands-slider .slick-slide {
  padding: 0 2.5px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  height: 133px;
  background: #fff;
  border: 1px solid #546b7b;
  margin: 0 0 5px;
}
.brand-item:last-child {
  margin: 0;
}

.callback-section {
  background: url("../img/decor-bg2.jpg") no-repeat center;
  background-size: cover;
  padding: 120px 0;
}
.callback-section h2 {
  margin: 0 auto 20px;
}

.callback-wrapper {
  margin: 45px auto 0;
  padding: 30px 35px 50px;
  width: 100%;
  max-width: 810px;
  border: 2px solid #546b7b;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.callback-wrapper__bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -170px;
}
.callback-wrapper h3 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 65px;
  max-width: 270px;
  width: 100%;
}
.callback-wrapper .box-text {
  max-width: 250px;
}
.callback-wrapper .btn-group-messengers {
  margin: 85px 0 0;
  width: 100%;
  max-width: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.callback-wrapper .btn-messenger {
  flex: 1;
  margin: 0 28px 0 0;
}
.callback-wrapper .btn-messenger:last-child {
  margin: 0;
}

.advantages {
  color: #fff;
  background: #6f91a9;
  padding: 35px 0 50px;
}

.advantages-box {
  flex: 1;
}
.advantages-box__icon {
  margin: 0 auto 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
}
.advantages-box .box-text {
  font-size: 12px;
  max-width: 225px;
}
.advantages-box h3 {
  margin: 0 0 10px;
  color: #fff;
}

.advantages2 .advantages-box {
  text-align: center;
}
.advantages2 .advantages-box .box-text {
  margin: 0 auto;
}

.about-section {
  padding: 100px 0 65px;
  background: url("../img/decor-bg1.jpg") no-repeat center;
  background-size: cover;
}
.about-section .container {
  align-items: stretch;
  justify-content: space-between;
}

.about-section-box {
  width: 50%;
  padding: 0 100px 0 0;
  border-right: 1px solid #6f91a9;
}
.about-section-box h3 {
  text-transform: uppercase;
}
.about-section-box:last-child {
  padding: 0 0 0 100px;
  border: none;
}
.about-section-box .box-text {
  margin: 0 0 55px;
}
.about-section-box .box-text:last-child {
  margin: 0;
}
.about-section-box ul {
  margin: 0 0 30px;
}
.about-section-box ul:last-child {
  margin: 0;
}

.callback-section2 {
  background: url("../img/decor-bg5.jpg") no-repeat center top;
  background-size: cover;
}
.callback-section2 .callback-wrapper__bg {
  right: 36px;
  max-width: 305px;
}

.brands-cell {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brands-cell .brand-item {
  width: calc(16.66% - 10px);
  margin: 0 0 10px;
}

.page-politics {
  padding-bottom: 50px;
}
.page-politics h2 {
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 55px;
}
.page-politics h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px;
}

.politics-wrapper {
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #546b7b;
  width: 100%;
  padding: 70px 75px 90px;
  box-shadow: 4px 0 16px #bcbcbc;
}
.politics-wrapper .box-text {
  margin: 0 0 60px;
}
.politics-wrapper .box-text:last-child {
  margin: 0;
}
.politics-wrapper p {
  margin: 0 0 20px;
}
.politics-wrapper p:last-child {
  margin: 0;
}
.politics-wrapper a {
  text-decoration: underline;
  color: #323232;
  display: inline;
  font-weight: 600;
}
.politics-wrapper a:hover {
  color: #546b7b;
}

.callback-section3 .callback-wrapper__bg {
  right: -162px;
  bottom: -111px;
  max-width: 814px;
}

.callback-section4 .callback-wrapper__bg {
  right: 0;
  bottom: 0;
  max-width: 558px;
}

.callback-section5 .callback-wrapper__bg {
  right: 104px;
  bottom: -334px;
  max-width: 338px;
}

.callback-section6 .callback-wrapper__bg {
  right: -114px;
  bottom: -124px;
  max-width: 695px;
}

.callback-section7 .callback-wrapper__bg {
  right: 25px;
  bottom: 8px;
  max-width: 437px;
}

.callback-section8 .callback-wrapper__bg {
  right: -33px;
  bottom: -30px;
  max-width: 631px;
}

.callback-section9 {
  background: transparent;
  padding: 50px 0 0;
}
.callback-section9 .callback-wrapper__bg {
  right: 42px;
  bottom: 13px;
  max-width: 447px;
}
.callback-section9 .h1 {
  margin: 0 auto 20px;
}

.callback-section10 .callback-wrapper__bg {
  right: -10px;
  bottom: -20px;
  max-width: 510px;
}

.callback-section11 .callback-wrapper__bg {
  right: 45px;
  bottom: 90px;
  max-width: 477px;
}

.callback-section12 .callback-wrapper__bg {
  right: 0;
  bottom: 0;
  max-width: 388px;
}
.callback-section12 .callback-wrapper h3 {
  max-width: 360px;
}

.news-card {
  width: 100%;
  font-size: 12px;
}
.news-card__img {
  width: 100%;
  height: 220px;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card__body {
  width: 100%;
  padding: 35px 30px 0 0;
}
.news-card__title {
  color: #323232;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  margin: 0 0 15px;
}
.news-card__title:hover {
  color: #546b7b;
}
.news-card .link {
  text-decoration: underline;
  color: #546b7b;
}
.news-card .link:hover {
  color: #6f91a9;
}

.page-article .box-text img {
  display: inline-block;
  float: right;
  margin: -70px 0 0;
}

.page-contacts {
  padding-bottom: 0;
}
.page-contacts h1 {
  margin: 0 0 13px;
}
.page-contacts .subtitle {
  text-align: left;
  font-weight: bold;
  color: #6f91a9;
  margin: 0 0 35px;
}

.text-attention {
  color: #ff0000;
}

.address-box {
  display: flex;
  align-items: flex-start;
  margin: 6px 0 55px;
  font-weight: 500;
}
.address-box::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  min-width: 14px;
  height: 20px;
  background: url("../img/location-icon.png") no-repeat center;
  background-size: 100%;
  margin: 0 7px 0 0;
}

.contacts-information {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 50px 30px;
}

.contacts-information-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.btn-add-reviews {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  padding: 10px 35px;
}

.rating-box {
  margin: 0 0 30px 50px;
  font-size: 10px;
}
.rating-box__top {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.rating-box__top img:nth-child(2) {
  margin: 0 7px;
}
.rating-box p {
  margin: 6px 0 0;
}

.contacts-messengers {
  margin: 20px 0 0;
}
.contacts-messengers a {
  color: #323232;
}
.contacts-messengers a:hover, .contacts-messengers a:focus {
  color: #546b7b;
}

.messenders-list {
  display: flex;
  align-items: flex-start;
}
.messenders-list a {
  width: 27px;
  height: 27px;
  margin: 0 3px 8px 0;
}
.messenders-list a:last-child {
  margin: 0 0 8px;
}

.map-box {
  width: 100%;
  height: 100%;
  min-height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-box iframe {
  width: 100%;
  height: 100%;
}

.attention-section {
  text-align: center;
  padding: 90px 0 70px;
}
.attention-section .box-text {
  max-width: 1170px;
  margin: 0 auto;
}

.contacts-gallery {
  padding: 145px 0 105px;
  background: url("../img/decor-bg4.jpg") no-repeat center top;
  background-size: cover;
}
.contacts-gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contacts-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-repair-hour {
  background: url("../img/repair-bg.jpg") no-repeat center;
  background-size: cover;
}
.page-repair-hour .page-text {
  font-size: 16px;
}
.page-repair-hour .box-text ul {
  max-width: 570px;
}

.form-callback-wrapper {
  max-width: 590px;
  width: 100%;
  margin: 0 0 0 auto;
  background: rgba(0, 0, 0, 0.74);
  padding: 90px 55px 100px;
  text-align: center;
  color: #fff;
}
.form-callback-wrapper h3 {
  color: #fff;
}
.form-callback-wrapper .btn-group-messengers {
  margin: 60px auto 0;
}
.form-callback-wrapper h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  max-width: 375px;
  margin: 0 auto 45px;
}

.category-repair {
  background: url("../img/decor-bg2.jpg") no-repeat center;
  background-size: cover;
  padding: 150px 0 150px;
}

.included-procedure {
  padding: 40px 0 50px;
}
.included-procedure__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.included-procedure__content {
  background: url("../img/decor-bg6.jpg") no-repeat center;
  background-size: cover;
  padding: 80px 50px;
  min-height: 547px;
}
.included-procedure__content ul {
  font-size: 20px;
  font-weight: 600;
}

.attention-section2 {
  background: url("../img/decor-bg7.jpg") no-repeat center;
  background-size: cover;
  padding: 130px 0 120px;
}

.rating-steps {
  margin: 80px 0;
}
.rating-steps__text {
  padding: 100px;
  background: url("../img/rating-steps-bg.jpg") no-repeat center bottom;
  background-size: cover;
}
.rating-steps__text .box-text {
  font-size: 22px;
  font-weight: 600;
  color: #546b7b;
}
.rating-steps__text .box-text p {
  margin: 0 0 30px;
}
.rating-steps__text .box-text p:last-child {
  margin: 0;
}
.rating-steps__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-steps-box {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}
.rating-steps-box__icon {
  margin: 0 19px 0 0;
  width: 58px;
  min-width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-steps-box__text {
  max-width: 255px;
}

.page-rating-hour {
  background: url("../img/rating-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.page-rating-hour .box-text h3 strong {
  font-weight: 600;
  font-size: 20px;
  display: block;
}

.page-commission {
  background: url("../img/commission-bg.jpg") no-repeat center;
  background-size: cover;
}
.page-commission h1 {
  margin: 0 0 90px;
}
.page-commission .box-text {
  font-size: 20px;
  font-weight: 500;
  max-width: 650px;
}
.page-commission .form-callback-wrapper h3 {
  max-width: none;
}

.commissiom-maximum {
  margin: 50px 0 70px;
}
.commissiom-maximum__text {
  max-width: 540px;
}
.commissiom-maximum h2 {
  max-width: 420px;
}
.commissiom-maximum .box-text {
  margin: 0 0 45px;
  font-weight: 500;
}
.commissiom-maximum .box-text:last-child {
  margin: 0;
}
.commissiom-maximum .box-text h3 {
  color: #546b7b;
}

.commission-steps {
  padding: 170px 0 130px;
  background: url("../img/decor-bg8.jpg") no-repeat center;
  background-size: cover;
}

.commission-steps-wrapper {
  position: relative;
  z-index: 1;
  padding: 0 0 60px;
}
.commission-steps-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 360px;
  height: 24px;
  background: url("../img/decor-icon.png") no-repeat center;
  background-size: 100%;
}

.commission-steps-box__body {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}
.commission-steps-box__icon {
  width: 48px;
  min-width: 48px;
  margin: 0 20px 0 0;
}
.commission-steps-box h3 {
  color: #546b7b;
  max-width: 235px;
}

.advantages-commission {
  padding: 115px 0 0;
  background: url("../img/decor-bg9.jpg") no-repeat center;
  background-size: cover;
}
.advantages-commission__text h3 {
  text-transform: uppercase;
}
.advantages-commission__text .box-text {
  font-weight: 500;
  margin: 0 0 90px;
}
.advantages-commission__text .box-text:last-child {
  margin: 0;
}
.advantages-commission__text .box-text p {
  max-width: 618px;
}
.advantages-commission__content {
  padding: 65px 60px 80px 55px;
  font-weight: 500;
  background: #f7f7f7;
}
.advantages-commission__content .box-text {
  margin: 0 0 60px;
}
.advantages-commission__content .box-text:last-child {
  margin: 0;
}
.advantages-commission__content h4 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 600;
}

.page-cities {
  background: url("../img/cities-bg.jpg") no-repeat center;
  background-size: cover;
}

.why-clients .rating-steps__text {
  background: url("../img/why-clients-bg.jpg") no-repeat center;
  background-size: cover;
}

.select-cities {
  padding: 100px 0 80px;
  background: url("../img/decor-bg10.jpg") no-repeat center top;
  background-size: cover;
}
.select-cities h2 {
  margin: 0 0 70px;
}

.list-cities {
  width: 100%;
  -moz-column-count: 4;
       column-count: 4;
  line-height: 1.7;
}
.list-cities li a {
  text-decoration: underline;
  color: #323232;
}
.list-cities li a:hover {
  color: #546b7b;
}

.page-redemption {
  background: url("../img/redemption-bg.jpg") no-repeat center;
  background-size: cover;
}
.page-redemption .box-text {
  margin: 65px 0 0;
  max-width: 600px;
}
.page-redemption ul li strong {
  font-weight: 600;
  display: block;
}

.requirements-diamonds {
  margin: 100px 0 50px;
}
.requirements-diamonds .rating-steps__text {
  background: #f5f5f5;
}
.requirements-diamonds h2 {
  margin: 0 0 65px;
}

.diamonds-about__text {
  font-size: 20px;
}

.diamonds-about__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-redemption-brands {
  background: url("../img/redemption-brands.jpg") no-repeat center;
  background-size: cover;
}
.page-redemption-brands .box-text {
  margin: 50px 0 0;
}