@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GothamPro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #323232;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 45px;
  font-size: 16px;
  font-weight: normal;
  height: 44px;
  border-radius: 0;
  transition: 0.3s ease;
  width: 100%;
}
.btn .btn-arrow {
  margin-left: 36px;
}

.btn-xl {
  height: 87px;
  font-size: 24px;
}

.btn-accent {
  color: #fff;
  background: #546b7b;
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  background: #6f91a9;
  color: #fff;
}

.btn-white {
  background: #fff;
  border: 1px solid #546b7b;
  color: #323232;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background: #546b7b;
  color: #fff;
}

.btn-border {
  border: 1px solid #fff;
  color: #fff;
}
.btn-border:hover, .btn-border:focus, .btn-border:active {
  background: #fff;
  color: #6f91a9;
}
.btn-border:hover .btn-arrow, .btn-border:focus .btn-arrow, .btn-border:active .btn-arrow {
  filter: invert(1);
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-25 {
  width: 25%;
  padding: 0 15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.w-100 {
  width: 100%;
}

.mb-30 {
  margin-bottom: 30px;
}

.m-100 {
  margin: 100px 0;
}

.wrapper {
  width: 100%;
  padding: 0 0 0 100px;
}

.font-700 {
  font-weight: bold;
}

a.color-black {
  color: #323232;
}
a.color-black:hover {
  color: #546b7b;
}

.color-blue {
  color: #546b7b;
}

.h1, h1 {
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  color: #546b7b;
  margin: 0 auto 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: "GothamPro", sans-serif;
}

h1 {
  color: #323232;
}

h2 {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  margin: 0 0 30px;
  color: #323232;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  margin: 0 0 20px;
  color: #323232;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.box-text p {
  margin: 0 0 20px;
}
.box-text p:last-child {
  margin: 0;
}
.box-text ul {
  margin: 20px 0;
}
.box-text ul li {
  margin: 0 0 20px;
}
.box-text ul li:last-child {
  margin: 0;
}
.box-text .link-page {
  margin: 30px 0 0;
}

.link-page {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #546b7b;
}
.link-page:hover {
  color: #6f91a9;
}
.link-page img {
  margin: 0 0 0 18px;
}

.subtitle {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.font-500 {
  font-weight: 500;
}

.list-checked li {
  margin: 0 0 15px;
}
.list-checked li:last-child {
  margin: 0;
}
.list-checked li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 5px 0 0;
  background: url("../img/check-icon.png") no-repeat center;
  background-size: 100%;
}

.list-decor li {
  margin: 0 0 15px;
}
.list-decor li:last-child {
  margin: 0;
}
.list-decor li::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 11px;
  min-width: 23px;
  margin: 0 5px 0 0;
  background: url("../img/decor-list.png") no-repeat center;
  background-size: 100%;
}

.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 25px;
}
.title-wrapper h3, .title-wrapper .h3, .title-wrapper h2 {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.title-wrapper .slider-nav {
  margin: 0 0 0 auto;
}

.slider-nav {
  display: flex;
  align-items: center;
}
.slider-nav .slick-arrow {
  margin: 0 15px 0 0;
}
.slider-nav .slick-arrow:last-child {
  margin: 0;
}

.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 1;
  cursor: pointer;
  z-index: 1;
  width: 88px;
  height: 6px;
}

.slick-prev {
  background: url("../img/arrow-left.png") no-repeat center;
  background-size: 100%;
}

.slick-next {
  background: url("../img/arrow-right.png") no-repeat center;
  background-size: 100%;
}

.slick-dots {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  opacity: 1;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  cursor: pointer;
  transition: 0.3s ease;
  width: 9px;
  height: 4px;
  background: #546b7b;
  border-radius: 2px;
  margin: 0 6px 0 0;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li.slick-active {
  width: 44px;
}
.slick-dots li button {
  display: none;
}

.page {
  padding: 40px 0 70px;
}
.page h1 {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.nav-breadcrumb {
  width: 100%;
  margin: 0 0 70px;
}

.breadcrumb {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
}
.breadcrumb li a {
  display: flex;
  align-items: center;
  color: #323232;
}
.breadcrumb li a:hover {
  color: #546b7b;
}
.breadcrumb li a::after {
  content: ">";
  display: inline-block;
  margin: 0 6px;
}

.label-checkbox {
  position: relativeÀù;
  display: flex;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}